version: '3.8'
services:
  auth:
    build:
      context: ../Code/BackendAuthentication
    image: bookwise_auth:latest
    ports:
      - "8080:8080"
    networks:
      - booknet

  api:
    build:
      context: ../Code/Backend
    image: bookwise_api:latest
    ports:
      - "8000:8000"
    networks:
      - booknet

  frontend:
    build:
      context: ../Code/Frontend
    image: bookwise_frontend:latest
    ports:
      # map host 5173 to container 80 so existing CORS config works with localhost:5173
      - "5173:80"
    depends_on:
      - api
      - auth
    networks:
      - booknet

networks:
  booknet:
    driver: bridge
